@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #4392F1;
    --salmon-pink: #C96480;
    --white: #FFFFFF;
    --gunmetal: #292F36;

    --raleway: "Raleway", sans-serif;
    --fira-code: "Fira Code", monospace;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--white);
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border: 3px solid;
    border-radius: 10px;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--gunmetal);
    line-height: 1.5;
    width: 100%;
    scroll-behavior: smooth;
}

a {
	text-decoration: none;
	font-weight: 700;
    color: var(--blue);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0
}

::selection {
    background: var(--salmon-pink);
    color: var(--white)
}

.section {
	display: flex;
	justify-content: center;
	padding: 120px 170px;
    
}

.section-title {
	flex-shrink: 0;
	width: 200px;
	margin-right: 70px;
	color: var(--blue);
	text-transform: uppercase;
	text-align: right;
	font-weight: 900;
    font-size: 2rem;
    font-family: var(--fira-code);
	letter-spacing: 3px
}

.section-content {
	font-weight: 400;
	font-size: 1.1rem;
    font-family: var(--raleway);
	width: 100%;
	max-width: 1200px
}

.section-content p {
	margin-top: 0;
	margin-bottom: 25px
}

.section-content .underline-link {
	position: relative;
	display: inline-blockl;
    color: var(--gunmetal);
}

.hero {
    display: flex;
    padding: 120px 120px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 0 auto
}

.hero-hello,
.hero-tagline {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: var(--raleway)
}

.hero-tagline {
    max-width: 700px;
}

.hero-tagline .name {
    font-weight: 700;
}

.hero-contact {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: var(--raleway)
}

.boxed-link {
    font-weight: 600;
    font-family: var(--fira-code);
    display: inline-block;
    padding: 2px 3px;
}

.skills {
	display: flex;
	justify-content:space-between;
    width: 650px;
}

.skills .skills-category-label {
    font-family: var(--fira-code);
	font-weight: 600;
	color: var(--blue);
}

.skills .skills-category-item {
	margin: 3px 0;
	font-size: .9rem
}

.skills-category-item::before {
    content: "➧";
    margin-right: 4px;
    left: 0px;
    color: var(--salmon-pink);
    line-height: 12px;
}

.featured-project {
    display: flex;
    overflow: hidden;
    margin-bottom: 48px;
}

.project-image img {
    width: 600px;
    height: 400px;
    object-fit:scale-down
}

.project-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    align-self: flex-end;
    color: var(--blue);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.project-title-link {
    position: relative;
    bottom: 2px;
    margin-left: 6px;
    background: url(/images/external-link.svg) no-repeat center;
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.project-title-link:hover {
    transform: scale(1.2);
}

.project-description {
    text-align: end;
    color: var(--gunmetal);
    margin: 20px 0;
}

.project-tech {
    display: flex;
    justify-content: flex-end;
}

.project-tech-item {
    margin: 0px 10px;
    font-size: 0.8rem;
    color: var(--salmon-pink);
    font-family: var(--fira-code);
    text-transform: uppercase;
    font-weight: 600;
}

footer {
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer-copyright {
    font-family: var(--raleway);
    vertical-align: middle;
    font-weight: 400;
    width: 300px
}

.footer-links a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 15px;
    outline: 0
}

@media screen and (max-width:1280px) {

	.section {
		padding: 100px
	}
}

@media screen and (max-width:1024px) {

	.hero-hello,
	.hero-tagline {
		font-size: 2.25rem
	}

    .section {
		padding: 50px
	}

    .section-title {
		margin-right: 50px
	}

    .featured-project {
        flex-wrap: wrap;
    }

    .project-title {
        align-self: flex-start;
    }

    .project-description {
        text-align: start;
        width: 90%;
    }
    
    .project-tech {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    footer {
		padding: 50px 80px;
	}

    .footer-links a {
		margin: 0 10px
	}
}

@media screen and (max-width:768px) {

	.hero-hello,
	.hero-tagline {
		font-size: 2rem
	}

    .section {
		display: block;
	}

    .section-title {
		text-align: left;
		width: auto
	}

    .section-content {
		padding-top: 30px;
		padding-left: 50px;
        padding-right: 50px;
        font-size: 1rem;
	}

    .skills .skills-category {
		width: 80%;
		margin-right: 5px;
		margin-bottom: 25px
	}
}

@media screen and (max-width:630px) {

	.hero {
		padding: 120px 70px
	}

    .skills {
		flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
	}

    .skills .skills-category {
		width: 47%;
		margin-right: 5px;
		margin-bottom: 25px
	}

    .project-image img {
        width: 99%;
        height: 99%;
    }

    footer {
		display: block
	}

    .footer-copyright {
		width: auto;
		text-align: center;
		margin-bottom: 25px
	}

    .footer-links {
		display: flex;
		justify-content: center
	}
}

@media screen and (max-width:550px) {

	.hero {
		padding: 120px 50px
	}

    .hero-hello,
	.hero-tagline {
		font-size: 1.75rem
	}

    .hero-contact {
		font-size: 1rem
	}
}

@media screen and (max-width:480px) {

	.hero {
		padding: 70px 50px
	}

    .section {
		padding: 50px 35px
	}

    .section-content {
		padding-left: 30px;
        padding-right: 30px;
	}

    .project-title {
        font-size: 24px;
    }

    footer {
		padding: 50px 30px
	}

    .footer-copyright {
        width: 95%;
    }
}

@media screen and (max-width:360px) {

	.hero-hello,
	.hero-tagline {
		font-size: 1.5rem
	}
}

@media screen and (max-width:330px) {

	.hero-hello,
	.hero-tagline {
		font-size: 1.4rem
	}
}
